<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>
	

		<%- body %>
	
		<footer>
			<p><a href="http://weibo.com/" target="_blank">zhangyk</a> 2014</p>
		</footer>
	</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>